<div class="container">
	<h1>買い物</h1>
	<div class="content-text">
		<h3>「今日は何を買いましたか？」</h3>

		<p><span class="speaker">中川：</span>山田さん、今日は何をしましたか？</p>
		<p><span class="speaker">山田：</span>今日は、買いものをしました。</p>
		<p><span class="speaker">中川：</span>そうですか？何を買いましたか？</p>
		<p><span class="speaker">山田：</span>えんぴつと本を買いました。それから、食べものを買いました。</p>
		<p><span class="speaker">中川：</span>ああ、くだものとやさいを買いましたか？</p>
		<p><span class="speaker">山田：</span>いいえ、にくとさかなを買いました。中川さんは、やさいを買いましたか？</p>
		<p><span class="speaker">中川：</span>はい、買いました。やさいが好きですよ！</p>

		<div class="help-options">
			<div class="help-button" ng-click="vocabList1 = !vocabList1">{{ (vocabList1 ? 'Cacher' : 'Montrer') + ' la liste de vocabulaire' }}</div>
			<div class="vocab" ng-show="vocabList1">
				<p>買う : acheter</p>
				<p>買いもの : shopping</p>
				<p>それから : ensuite, et après</p>
				<p>えんぴつ : crayon</p>
				<p>...が好きです : j'aime ...</p>
			</div>
		</div>
	</div>

	<div class="content-question">
		<h3>Questions</h3>
		<p>1. 山田さんは何を買いましたか？
			<div>
				<span class="list">やさい</span>
				<span class="list">えんぴつ</span>
				<span class="list">ふく</span>
				<span class="list">くだもの</span>
				<span class="list">くるま</span>
				<span class="list">のみもの</span>
				<span class="list">ほん</span>
			</div>
		</p>
		<p>2. 中川さんは何が好きですか？</p>
	</div>
</div>

<div class="container">
	<h1>お酒</h1>
	<div class="content-text">
		<h3>「日本人とお酒」</h3>

		<p>日本人はよくお酒を飲む。アメリカでは２１才にならないとお酒が飲まない。日本でも同じじゃない。日本では２０才になったらお酒を飲んでもいい。でも、たいてい大学に入ると飲み始める。１７才か１８才で飲み始めるんだ。</p>

		<div class="help-options">
			<div class="help-button" ng-click="vocabList2 = !vocabList2">{{ (vocabList2 ? 'Cacher' : 'Montrer') + ' la liste de vocabulaire' }}</div>
			<div class="vocab" ng-show="vocabList2">
				<p>お酒（おさけ） : sake</p>
				<p>~才（さい） : âgé de ~</p>
				<p>同じ（おなじ） : même, pareil</p>
				<p>たいてい : en général</p>
				<p>始める（はじめる） : commencer</p>
			</div>
		</div>
	</div>

	<div class="content-question">
		<h3>Vocabulaire</h3>
		<p>1. Donne la pronociation et la signification des mots suivants :</p>
		<div>
			<span class="list">日本人</span>
			<span class="list">飲む</span>
			<span class="list">大学</span>
			<span class="list">入る</span>
		</div>

		<h3>Compréhension</h3>
		<p>2. アメリカでは20才にならないとお酒が飲まあない。</p>
		<p>3. 日本でもアメリカでもお酒が飲める年令は同じですか。</p>
		<p>4. 日本人は少ないお酒を飲みますか？</p>
		<h3>Expression</h3>
		<p>5.　あなたが飲み始めたのはいくつの時ですか？</p>
	</div>
</div>

<div class="container">
	<h1>行く</h1>
	<div class="content-text">
		<h3>「明日はどこに行きますか？」</h3>

		<p><span class="speaker">中川：</span>山田さん、明日はどこに行きますか？</p>
		<p><span class="speaker">山田：</span>明日は、東京に行きます。</p>
		<p><span class="speaker">中川：</span>そうですか？どこに行きますか？</p>
		<p><span class="speaker">山田：</span>デパートに行きました。</p>
	</div>

	<div class="content-question">
		<h3>Questions</h3>
		<p>1. ？</p>
		<p>2. ？</p>
	</div>

	<div class="help-options">
		<div class="help-button" ng-click="colourKanji = !colourKanji">Montrer la liste de vocabulaire</div>
	</div>
</div>

<div class="container" style="display:none;">
	<h1>Exercice 2</h1>

	<div class="content-text">
		<div class="help-options">
			<div class="help-button" ng-click="colourKanji = !colourKanji">Colorer les kanji, katakana et hiragana</div>
		</div>

		<h3>Dialogue</h3>

		<p>
			<span class="speaker">シルビー：</span>先生、おはようございます。
		</p>

		<p>
			<span class="speaker">先生：</span>ああ、シルビーさん、おはよう。
		</p>

		<p>
			<span class="speaker">シルビー：</span>お元気ですか？
		</p>

		<p>
			<span class="speaker">先生：</span>ええ、元気です。シルビーさんは？
		</p>

		<p>
			<span class="speaker">シルビー：</span>はい、元気です。
		</p>
	</div>

	<div class="content-question">
		<h3>Questions</h3>
		<h5>1. 学生の名前は何ですか？</h5>
		<h5>2. 毎日</h5>
	</div>

		<p>
			シルビーは<span class="kanji">先週</span>日本に来て、毎日４時間日本語のクラスで勉強しています。先生は山田という先生で、毎日２<span class="kanji">時間</span><span class="kanji">会話</span>と<span class="kanji">漢字</span>を教えて下さいます。
		</p>
			<h5>1. Retrouve la prononciation des kanji inconnus (en bleu) parmi les choix suivants :</h5>
			<p></p>
			<span class="furigana">せんしゅう</span>
			<span class="furigana">かんじ</span>
			<span class="furigana">じかん</span>
			<span class="furigana">かいわ</span>
			<h5>3. Identifie les verbes et leur conjugaison dans les deux premières phrases (avant le dialogue).</h5>
			<h5>2. Ecris la prononciation des mots suivants :</h5>
			<ul>
				<li>毎日</li>
				<li>先生</li>
				<li>勉強</li>
				<li>山田</li>
			</ul>
</div>