<div class="container">
	<h1>Exercice 1</h1>
	<div class="content-text">
		<h3>Compréhension</h3>

		<h4>「今日は何を買いましたか？」</h4>

		<p><span class="speaker">中川：</span>山田さん、今日は何をしましたか？</p>
		<p><span class="speaker">山田：</span>今日は、買いものをしました。</p>
		<p><span class="speaker">中川：</span>そうですか？何を買いましたか？</p>
		<p><span class="speaker">山田：</span>えんぴつと本を買いました。それから、食べものを買いました。</p>
		<p><span class="speaker">中川：</span>ああ、くだものとやさいを買いましたか？</p>
		<p><span class="speaker">山田：</span>いいえ、にくとさかなを買いました。中川さんは、やさいを買いましたか？</p>
		<p><span class="speaker">中川：</span>はい、買いました。やさいが好きですよ！</p>
	</div>

	<div class="content-question">
		<h3>Questions</h3>
		<p>1. 山田さんは何を買いましたか？
			<div>
				<span class="list">やさい</span>
				<span class="list">えんぴつ</span>
				<span class="list">ふく</span>
				<span class="list">くだもの</span>
				<span class="list">くるま</span>
				<span class="list">のみもの</span>
				<span class="list">ほん</span>
			</div>
		</p>
		<p>2. 中川さんは何が好きですか？</p>
	</div>

	<div class="help-options">
		<div class="help-button" ng-click="vocabList1 = !vocabList1">{{ (vocabList1 ? 'Cacher' : 'Montrer') + ' la liste de vocabulaire' }}</div>
		<div class="vocab" ng-show="vocabList1">
			<p>買う : acheter</p>
			<p>買いもの : shopping</p>
			<p>それから : ensuite, et après</p>
			<p>えんぴつ : crayon</p>
			<p>...が好きです : j'aime ...</p>
		</div>
	</div>
</div>

<div class="container">
	<h1>Exercice 2</h1>
	<div class="content-text">
		<h3>Compréhension</h3>

		<h4>「明日はどこに行きますか？」</h4>

		<p><span class="speaker">中川：</span>山田さん、明日はどこに行きますか？</p>
		<p><span class="speaker">山田：</span>明日は、東京に行きます。</p>
		<p><span class="speaker">中川：</span>そうですか？どこに行きますか？</p>
		<p><span class="speaker">山田：</span>デパートに行きました。</p>
	</div>

	<div class="content-question">
		<h3>Questions</h3>
		<p>1. 何人が話していますか？</p>
		<p>2. 日本の子どもはよく勉強しますか？</p>
	</div>

	<div class="help-options">
		<div class="help-button" ng-click="colourKanji = !colourKanji">Montrer la liste de vocabulaire</div>
	</div>
</div>

<div class="container">
	<h1>Exercice 3</h1>
	<div class="content-text">
		<h3>Compréhension</h3>

		<h4>「日本の子どもはよく勉強しますね」</h4>

		<p><span class="speaker">シルビー：</span>日本では小さい子どももよく勉強するそうですが、本当ですか？</p>
		<p><span class="speaker">田中：</span>小さい子どももよく勉強するのは本当です。シルビーさんは毎日何時間ぐらい勉強しますか？</p>
		<p><span class="speaker">シルビー：</span>毎日、3時間ぐらい勉強しますよ。</p>
	</div>

	<div class="content-question">
		<h3>Questions</h3>
		<p>1. 何人が話していますか？</p>
		<p>2. 日本の子どもはよく勉強しますか？</p>
	</div>

	<div class="help-options">
		<div class="help-button" ng-click="colourKanji = !colourKanji">Montrer la liste de vocabulaire</div>
	</div>
</div>

<div class="container" style="display:none;">
	<h1>Exercice 2</h1>

	<div class="content-text">
		<div class="help-options">
			<div class="help-button" ng-click="colourKanji = !colourKanji">Colorer les kanji, katakana et hiragana</div>
		</div>

		<h3>Dialogue</h3>

		<p>
			<span class="speaker">シルビー：</span>先生、おはようございます。
		</p>

		<p>
			<span class="speaker">先生：</span>ああ、シルビーさん、おはよう。
		</p>

		<p>
			<span class="speaker">シルビー：</span>お元気ですか？
		</p>

		<p>
			<span class="speaker">先生：</span>ええ、元気です。シルビーさんは？
		</p>

		<p>
			<span class="speaker">シルビー：</span>はい、元気です。
		</p>
	</div>

	<div class="content-question">
		<h3>Questions</h3>
		<h5>1. 学生の名前は何ですか？</h5>
		<h5>2. 毎日</h5>
	</div>

		<p>
			シルビーは<span class="kanji">先週</span>日本に来て、毎日４時間日本語のクラスで勉強しています。先生は山田という先生で、毎日２<span class="kanji">時間</span><span class="kanji">会話</span>と<span class="kanji">漢字</span>を教えて下さいます。
		</p>
			<h5>1. Retrouve la prononciation des kanji inconnus (en bleu) parmi les choix suivants :</h5>
			<p></p>
			<span class="furigana">せんしゅう</span>
			<span class="furigana">かんじ</span>
			<span class="furigana">じかん</span>
			<span class="furigana">かいわ</span>
			<h5>3. Identifie les verbes et leur conjugaison dans les deux premières phrases (avant le dialogue).</h5>
			<h5>2. Ecris la prononciation des mots suivants :</h5>
			<ul>
				<li>毎日</li>
				<li>先生</li>
				<li>勉強</li>
				<li>山田</li>
			</ul>
</div>