<div class="container">
	<h1>Exercice 1</h1>

	<div class="content-text">
		<div class="help-options">
			<div class="help-button" ng-click="colourKanji = !colourKanji">Colorer les kanji, katakana et hiragana</div>
			<div class="help-button" ng-click="colourProper = !colourProper">Colorer les noms propres</div>
		</div>

		<h3>Première partie</h3>

		<p>
			シルビーは先週日本に来て、毎日４時間日本語のクラスで勉強しています。先生は山田という先生で、毎日２時間会話と漢字を教えて下さいます。よく分からないことがあったので、けさクラスの前に先生のオフィスに行きました。
		</p>

		<p>
			<span class="speaker">シルビー：</span>先生、おはようございます。
		</p>

		<p>
			<span class="speaker">先生：</span>ああ、シルビーさん、おはよう。
		</p>

		<p>
			<span class="speaker">シルビー：</span>お元気ですか？
		</p>

		<p>
			<span class="speaker">先生：</span>ええ、元気です。シルビーさんは？
		</p>

		<p>
			<span class="speaker">シルビー：</span>はい、元気です。
		</p>
	</div>

	<div class="content-text">
		<h3 class="hline">Deuxième partie</h3>

		<p>
			<span class="speaker">先生：</span>あのね、シルビーさん。英語ではよく“How are you?″と言いますね。毎日会う人にも“How are you ?″が使えますね。でも、日本語では毎日会う人には「お元気ですか？」と聞かないんですよ。
		</p>

		<p>
			<span class="speaker">シルビー：</span>そうですか。どうしてですか？
		</p>

		<p>
			<span class="speaker">先生：</span>毎日会えば、その人が元気かどうかすぐ分かるでしょう。ですから、日本では聞かないんです。何か質問があるんですか？
		</p>

		<p>
			<span class="speaker">シルビー：</span>はい。じつは、今晩田中さんと映画を見に行きたいんですが、田中さんに何と言えばいいか分からないんです。教えていただけないでしょうか？
		</p>

		<p>
			<span class="speaker">先生：</span>映画に行きたい時は、「今晩いっしょに映画に行きませんか？」、いっしょに御飯を食べたい時には、「いっしょに御飯を食べませんか？」と言えばいいんです。
		</p>

		<p>
			<span class="speaker">シルビー：</span>じゃあ、いっしょにテニスがしたい時には、「いっしょにテニスをしませんか？」と言えばいいんですね？
		</p>

		<p>
			<span class="speaker">先生：</span>そうです。
		</p>

		<p>
			<span class="speaker">シルビー：</span>分かりました。ところで、先生、あなたはあしたコンサートへいらっしゃいますか？
		</p>

		<p>
			<span class="speaker">先生：</span>ええ、行きますよ。シルビーさん、いま「あなた」と言いましたね。
		</p>

		<p>
			<span class="speaker">シルビー：</span>はい。
		</p>
	</div>

	<div class="content-question">
		<h3>Questions (1ère partie)</h3>
		<p>何がありますか。</p>
	</div>
</div>